/**
 * Number Input Component Styles
 */

.lg-number {
  appearance: textfield;
  -moz-appearance: textfield;
  flex: 0 1 auto;
  width: auto;
  min-width: 80px;
  max-width: 150px;
}

.lg-number::-webkit-outer-spin-button,
.lg-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
