/**
 * Number Input Component Styles
 * Removes spinner controls for a cleaner, modern look
 * 
 * Usage: <input type="number" class="lg-input lg-input--number">
 */

.lg-input--number {
  appearance: textfield;
  -moz-appearance: textfield;
  flex: 0 1 auto;
  width: auto;
  min-width: 80px;
  max-width: 150px;
}

.lg-input--number::-webkit-outer-spin-button,
.lg-input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
